<script>
// @ts-nocheck

    import {supabase} from '$lib/supabaseClient'
    import {readable, get} from 'svelte/store'
  
    /**
	 * @type {unknown}
	 */
     export let id
    /**
	 * @type {any}
	 */
     export let namech
    /**
	 * @type {any}
	 */
     export let content

     export let name
  
    // @ts-ignore
    async function addComment({target}) {
      const formData = new FormData(target)
  
      const {data, error} = await supabase
        .from('comments')
        .insert({
          content: formData.get('comment'),
          name: formData.get('names'),
          channel: id
        })
        document.getElementById("comment").value = '';
    }
  
    const comments = readable(null, (set) => {
	  supabase
		.from('comments')
		.select('*')
        .filter('channel','eq', id)
		// @ts-ignore
		.then(({error, data}) => set(data))
  
	  // add subscription to supabase logic
	  const subscription = 
        supabase
            .channel('comments:channel=eq.' + id)
            .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                if (payload.eventType === 'INSERT') {
                // @ts-ignore
                set([...get(comments), payload.new])
            }
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
  </script>


<div class="w-full h-screen">
        <div class="flex h-full">
            <div class="flex-1 bg-gray-100 w-full h-full">
                <div class="main-body container m-auto w-11/12 h-full flex flex-col">
                    <div class="py-4 flex-2 flex flex-row">
                        <div class="flex-1">
                            <span class="xl:hidden inline-block text-gray-700 hover:text-gray-900 align-bottom">
                                <span class="block h-6 w-6 p-1 rounded-full hover:bg-gray-400">
                                    <svg class="w-4 h-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
                                </span>
                            </span>
                            <span class="lg:hidden inline-block ml-8 text-gray-700 hover:text-gray-900 align-bottom">
                                <span class="block h-6 w-6 p-1 rounded-full hover:bg-gray-400">
                                    <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                </span>
                            </span>
                        </div>
                        <div class="flex-1 text-right">
                         <span class="font-extrabold text-4xl"><span class="text-blue-400"> Go</span>chat.</span>
                        </div>
                    </div>
    
                    <div class="main flex-1 flex flex-col">
                        <div class="hidden lg:block heading flex-2">
                            <a href="/">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/2048px-Back_Arrow.svg.png" class="w-10 mb-3" /></a>
                            <h1 class="text-3xl text-gray-700 mb-2"> Chat</h1>
                        </div>

                        <div class="flex-1 flex h-full">
                            <div class="sidebar hidden lg:flex w-1/3 flex-2 flex-col pr-6">
                                <div class="search flex-2 pb-6 px-2">
                                    <input type="text" class="outline-none py-2 block w-full bg-transparent border-b-2 border-gray-200" placeholder="" disabled>
                                </div>
                                <div class="flex-1 h-full overflow-auto px-2">
                                    <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-4 rounded p-4 flex shadow-md">
                                        <div class="flex-2">
                                            <div class="w-12 h-12 relative">
                                                <img class="w-12 h-12 rounded-full mx-auto" src="https://img.icons8.com/external-basicons-solid-edtgraphics/50/null/external-channel-coding-basicons-solid-edtgraphics.png" alt="chat-user" />
                                                <span class="absolute w-4 h-4 bg-green-400 rounded-full right-0 bottom-0 border-2 border-white"></span>
                                            </div>
                                        </div>
                                        <div class="flex-1 px-2">
                                            <div class="truncate w-32"><span class="text-gray-800">{namech}</span></div>
                                        </div>
                                        <div class="flex-2 text-right">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-area flex-1 flex flex-col overflow-y-scroll" style="height: 34rem;">
                                <div class="flex-3">
                                    <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200">Channel <b>{namech}</b></h2>
                                </div>
                                <div class="messages flex-1 overflow-auto">
                                    {#if $comments}
                                        {#each $comments as contents}
                                    <div class="message mb-4 flex">
                                        <div class="flex-2">
                                        </div>
                                        <div class="flex-1">
                                            <div class="pl-4 mb-2">{contents.name}</div>
                                            <div class="inline-block bg-blue-300 rounded-full p-2 px-6 text-gray-700">
                                                <span>{contents.content}</span>
                                            </div>
                                            <div class="pl-4"><small class="text-gray-500">{contents.created_at[11]}{contents.created_at[12]}{contents.created_at[13]}{contents.created_at[14]}{contents.created_at[15]}</small></div>
                                        </div>
                                    </div>
                                    {:else}
                                        No comments yet!
                                    {/each}
                                    {:else}
                                    Loading..
                                    {/if}
                                </div>
                                <form on:submit|preventDefault={addComment}>
                                <div class="flex-2 pt-4 pb-10">
                                    <div class="write bg-white shadow flex rounded-lg">
                                        <div class="flex-3 flex content-center items-center text-center p-4 pr-0">
                                            <span class="block text-center text-gray-400 hover:text-gray-800">
                                                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="h-6 w-6"><path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <input type="text" name="names" class="w-full block outline-none  py-4 px-4 bg-transparent" rows="1" placeholder="Your Name" autofocus required />
                                        </div>
                                        <div class="flex-1">
                                            <input type="text" id="comment" name="comment" class="w-full block outline-none py-4 px-4 bg-transparent" rows="1" placeholder="Message" required />
                                        </div>
                                        <div class="flex-2 w-32 p-2 flex content-center items-center">
                                            <div class="flex-1 text-center">
                                                
                                            </div>
                                            <div class="flex-1">
                                                <button class="bg-blue-400 w-10 h-10 rounded-full inline-block">
                                                    <span class="inline-block align-text-bottom">
                                                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 text-white"><path d="M5 13l4 4L19 7"></path></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>