<script>
// @ts-nocheck

	import {supabase} from '$lib/supabaseClient'
	import {readable, get} from 'svelte/store'
	import Post from '$lib/Post.svelte'
    import Swal from "sweetalert2";
    import "sweetalert2/dist/sweetalert2.min.css";
  
	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
	  const formData = new FormData(e.target)
	  const {data, error} = await supabase
		.from('channels')
		.insert({
		  namech: formData.get('namech')
		})
        e.target.reset();
        Swal.fire(
        'Success Create Channel',
        '',
        'success'
        )
	}
  
	const channels = readable(null, (set) => {
	  supabase
		.from('channels')
		.select('*')
		// @ts-ignore
		.then(({error, data}) => set(data))
  
	  // add subscription to supabase logic
	  const subscription = 
        supabase
            .channel('channels')
            .on('postgres_changes',{ event: 'INSERT', schema: '*' }, payload => {
                // @ts-ignore
                set([...get(channels), payload.new])
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
  
  </script>

  <div class="w-full h-screen">
        <div class="flex h-full">
            <div class="flex-1 bg-gray-100 w-full h-full">
                <div class="main-body container m-auto w-11/12 h-full flex flex-col">
                    <div class="py-4 flex-2 flex flex-row">
                        <div class="flex-1">
                            <span class="xl:hidden inline-block text-gray-700 hover:text-gray-900 align-bottom">
                                <span class="block h-6 w-6 p-1 rounded-full hover:bg-gray-400">
                                    <svg class="w-4 h-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
                                </span>
                            </span>
                            <span class="lg:hidden inline-block ml-8 text-gray-700 hover:text-gray-900 align-bottom">
                                <span class="block h-6 w-6 p-1 rounded-full hover:bg-gray-400">
                                    <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                </span>
                            </span>
                        </div>
                        <div class="flex-1 text-right">
                         <span class="font-extrabold text-4xl"><span class="text-blue-400"> Go</span>chat.</span>
                        </div>
                    </div>
    
                    <div class="main flex-1 flex flex-col">
                        <div class="hidden lg:block heading flex-2">
                            <h1 class="text-3xl text-gray-700 mb-4">Channel List</h1>
                        </div>

                        <div class="flex-1 flex h-full">
                            <div class="sidebar hidden lg:flex w-1/3 flex-2 flex-col pr-6">
								<form on:submit|preventDefault={addPost}>
                                <div class="search flex-2 pb-6 px-2">
                                    <input type="text" name="namech" class="outline-none py-2 block w-full bg-transparent border-b-2 border-gray-200" placeholder="Create Channel" required>
									<button class="p-2 px-4 mt-2 bg-blue-400 rounded-lg text-white cursor-pointer transform hover:shadow-md duration-300 transition-transform">Create</button>
                                </div>
							 </form>
                                <div class="flex-2 overflow-y-scroll px-2" style="height: 26em;">
									{#if $channels}
	 									 {#each $channels as post}
                                          <a href="/channel/{post.id}">
                                            <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-4 rounded p-4 flex shadow-md">
                                                <div class="flex-2">
                                                    <div class="w-12 h-12 relative">
                                                        <img class="w-12 h-12 rounded-full mx-auto" src="https://img.icons8.com/external-basicons-solid-edtgraphics/50/null/external-channel-coding-basicons-solid-edtgraphics.png" alt="chat-user" />
                                                        <span class="absolute w-4 h-4 bg-green-400 rounded-full right-0 bottom-0 border-2 border-white"></span>
                                                    </div>
                                                </div>
                                                <div class="flex-1 px-2">
                                                    
                                                    <div class="truncate w-32"><span class="text-gray-800">{post.namech}</span></div>
                                                </div>
                                            </div>
                                    </a>
									{/each}
										{:else}
										Loading..
									{/if}
                                </div>
                            </div>
                            <div class="chat-area flex-1 flex flex-col">
                                <div class="flex-3">
                                    <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200">Channel</h2>
                                </div>
                                <div class="messages flex-1 overflow-auto">
                                    
                                </div>
                                <div class="flex-2 pt-10 pb-10">
                                    <div class="write bg-white shadow flex rounded-lg">
                                        <div class="flex-3 flex content-center items-center text-center p-4 pr-0">
                                            <span class="block text-center text-gray-400 hover:text-gray-800">
                                                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="h-6 w-6"><path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <input type="text" name="names" class="w-full block outline-none  py-4 px-4 bg-transparent" rows="1" placeholder="Your Name" autofocus disabled/>
                                        </div>
                                        <div class="flex-1">
                                            <input type="text" id="comment" name="comment" class="w-full block outline-none py-4 px-4 bg-transparent" rows="1" placeholder="Message" autofocus disabled />
                                        </div>
                                        <div class="flex-2 w-32 p-2 flex content-center items-center">
                                            <div class="flex-1 text-center">
                                                
                                            </div>
                                            <div class="flex-1">
                                                <button class="bg-blue-400 w-10 h-10 rounded-full inline-block disabled">
                                                    <span class="inline-block align-text-bottom">
                                                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 text-white"><path d="M5 13l4 4L19 7"></path></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>